@model AddressBook.Models.Contact
@{
    ViewBag.Title = "Edit";
}


<script src="~/Scripts/validation.js" type="text/javascript"></script>

<br>
<h4 class="text-success">Edit</h4>
<br>
@using (Html.BeginForm("EditPost", "Contact"))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="fullName">Full Name </label>
                <input class="form-control required" name="fullName" id="nameEdit" value="@Model.FullName" oninput="ValidateNameForEdit()" />
                <label style="background-color:red" id="nameValidateEdit"></label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="emailAddress">Email Address </label>
                <input class="form-control required" name="emailAddress" id="emailEdit" value="@Model.EmailAddress" oninput="ValidateEmailForEdit()" />
                <label style="background-color:red" id="emailValidateEdit"></label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="id"></label>
                <input class="required" name="id" id="id" value="@Model.Id" type="hidden" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input class="form-control required" name="phoneNumber" id="phoneEdit" value="@Model.PhoneNumber" oninput="ValidatePhoneForEdit()" />
                <label style="background-color:red" id="phoneValidateEdit"></label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="physicalAddress">Physical Address</label>
                <input class="form-control required" name="physicalAddress" id="physicalAddress" value="@Model.PhysicalAddress" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <input id="edit" name="edit" type="submit" class="btn-success" value="Edit" style="bottom: 0;right: 0;" />
    </div>

}

