@model  AddressBook.Models.Contact
@{
    ViewBag.Title = "GetSingle";
}
<br>
<h4 class="text-success">@Model.FullName's page </h4>
<br>
<dl class="row">
    <dt class="col">FullName</dt>
    <dd class="col">@Model.FullName</dd>
</dl>
<dl class="row">
    <dt class="col">Email Address</dt>
    <dd class="col">@Model.EmailAddress</dd>
</dl>
<dl class="row">
    <dt class="col">Phone Number</dt>
    <dd class="col">@Model.PhoneNumber</dd>
</dl>
<dl class="row">
    <dt class="col">Physical Address</dt>
    <dd class="col">@Model.PhysicalAddress</dd>
</dl>
<div class="row">
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
</div>
<br>
<div class="row">
    @Html.ActionLink("Edit", "Edit", new { Id = Model.Id, FullName = Model.FullName, EmailAddress = Model.EmailAddress, PhoneNumber = Model.PhoneNumber, PhysicalAddress = Model.PhysicalAddress })
</div>
<br>
<br>
<br>