@model  AddressBook.Models.Contact
@{
    ViewBag.Title = "GetSingle";
}
<br>
<h4 style="font-size:xx-large">@Model.FullName's page </h4>
<br>
<br>
<div class="row">
    <div class="col-md-2">
        <label style="font-size:medium">FullName:</label>
    </div>
    <div class="col-md-2">
        <label style="font-size:medium">@Model.FullName</label>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label style="font-size:medium">Email Address:</label>
    </div>
    <div class="col-md-2">
        <label style="font-size:medium">@Model.EmailAddress</label>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label style="font-size:medium">Phone Number:</label>
    </div>
    <div class="col-md-2">
        <label style="font-size:medium">@Model.PhoneNumber</label>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label style="font-size:medium">Physical Address:</label>
    </div>
    <div class="col-md-2">
        <label style="font-size:medium">@Model.PhysicalAddress</label>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-1">
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </div>
    <div class="col-md-1">
        @Html.ActionLink("Edit", "Edit", new { Id = Model.Id, FullName = Model.FullName, EmailAddress = Model.EmailAddress, PhoneNumber = Model.PhoneNumber, PhysicalAddress = Model.PhysicalAddress })
    </div>
</div>
<br>
<br>